body {
    background-color: #f4c242;
    border-style: double red;
  }
  
  img {
    width: 15%;
    height: 260px;
    width: 360px;
  }
  
  .red_font {
    color: #bc001f;
  }
  
  .tiny_text {
    font-size: 11px;
    color: #5da82f;
  }